tr
  td(style='width: 24.1026%;')
    a.title.grey(title='géographique3', href='detail-description.html')
  td(style='width: 14.5299%;') &nbsp;

  td(style='width: 14.9573%;') 13/05/2014

  td(style='width: 25.4701%;') IG 15-003

  td(style='width: 20.9402%;')
    span.status
      | Enqu&ecirc;te publique
      span.icon.icon-ok

tr
  td(style='width: 24.1026%;')
    a.title(title='géographique3', href='detail-description.html') g&eacute;ographique3

  td(style='width: 14.5299%;') &nbsp;

  td(style='width: 14.9573%;') 13/05/2014

  td(style='width: 25.4701%;') IG 15-003

  td(style='width: 20.9402%;')
    span.status
      | Enqu&ecirc;te publique
      span.icon.icon-ok

tr
  td(style='width: 24.1026%;')
    a.title(title='géographique3', href='detail-description.html')
      | g&eacute;ographique3&nbsp;
      strong Marseille

  td(style='width: 14.5299%;') &nbsp;

  td(style='width: 14.9573%;') 13/05/2014

  td(style='width: 25.4701%;') IG 15-003

  td(style='width: 20.9402%;')
    span.status
      | Enqu&ecirc;te publique
      span.icon.icon-ok

