extends layouts/layout

block vars
  -title = 'Indication Geographiques'
  -bodyClass = ''

block container
  .block-1
    +link({title: 'Retour'}).btn.btn-icon.btn-retour
      i.icon.icon-left
      span.text Retour
    include blocks/list-button
    .jumbotron.text-center
      h2.title-2
        span.bold IG 14-015
        |Raquette basque
      +link({title: 'enquête publique en cours'}).btn.btn-1
