// Extend class
.style-strong {
  font-family: $font-inpi-bold;
  color: $black;
  &.grey {
    color: $gray-3;
  }
}
.underline-style {
  position: relative;
  display: inline-block;
  color: $black;
  text-decoration: none;
  &:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    border-bottom: 1px dotted;
  }
  .no-touch &:hover {
    &:before {
      display: none;
    }
  }
}
.record-status {
  display: inline-block;
  position: relative;
  padding-right: rem-calc(25px);
  .icon {
    position: absolute;
    top: 50%;
    right: 0;
    color: $gray-dark-1;
    transform: translate(0, -50%);
  }
}
// Main table styles
.table-mobile {
  font-size: rem-calc(15px);
  .title {
    @extend .style-strong;
    span {
      @extend .underline-style;
    }
  }
  .status {
    @extend .record-status;
  }
  .items {
    border: 1px solid $gray-1;
    margin-bottom: rem-calc(30px);
  }
  .item {
    display: table;
    table-layout: fixed;
    width: 100%;
    + .item {
      border-top: 1px solid $gray-1;
    }
    &:nth-child(2n+1) {
      background-color: $gray-2;
    }
  }
  .col-left, .col-right {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: rem-calc(13px);
  }
  .col-left {
    border-right: 1px solid $gray-1;
    font-family: $font-inpi-bold;
    color: $gray-3;
  }
}
.table-layout-fixed {
  table-layout: fixed;
}
.table {
  border: 1px solid $gray-1;
  font-size: rem-calc(15px);
  margin-bottom: 0;
  > thead > tr > th {
    padding: 0;
    background-color: $gray-2;
    border-bottom:0;
    border-left: 1px solid $gray-1;
    vertical-align: middle;
  }
  > tbody > tr > td {
    padding: rem-calc(13px 20px);
    border-left: 1px solid $gray-1;
    vertical-align: middle;
  }
  .title {
    @extend .style-strong;
  }
  th {
    a {
      color: $gray-3;
      font-family: $font-inpi-bold;
      display: block;
      position: relative;
      padding: rem-calc(12px 35px 12px 20px);
      text-decoration: none;
      &:before {
        content: "\f110";
        position: absolute;
        top: rem-calc(18px);
        right: rem-calc(20px);
        font-family: $icons-font;
        font-size: rem-calc(7px);
        color: $black;
      }
    }
    .asc-sort {
      &:before {
        content: "\f132";
        color: $orange-1;
      }
    }
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: $gray-2;
      }
      &:nth-child(odd) {
        background-color: $white;
      }
    }
    .title {
      span {
        @extend .underline-style;
      }
    }
  }
  td {
    padding: rem-calc(20px);
  }
  .status {
    @extend .record-status;
  }
}
