.tool-box
  .btn-group.visible-sm-up
    +link({title: 'icon-file',attr: {class: 'btn btn-icon', target: '_blank'}})
      i.icon.icon-file
    +link({title: 'icon-print', href: 'javascript:window.print()', attr: {class: 'btn btn-icon'}})
      i.icon.icon-print
  .inner
    .pagination
      +link({title: 'previous',attr: {class: 'btn btn-control disabled'}})
        i.icon.icon-left
      .pagination-block
        +input({name:'inp-pagination-bottom', class: 'form-control', value: '1'})
        span.total-number 12
      +link({title: 'next',attr: {class: 'btn btn-control'}})
        i.icon.icon-right
