{
  "extends": "eslint:recommended",
  "plugins": [],
  "env": {
    "es6": false,
    "node": true,
    "browser": true,
    "jquery": true,
    "jasmine": true,
    "jasmineReporters": true,
    "phantomjs": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
  "_",
  "CUI",
  "Class",
  "CQ",
  "hobs",
  "casper",
  "phantomcss",
  "angular",
  "Site",
  "fakewaffle"
  },
  "rules": {
  "no-mixed-spaces-and-tabs": 0,
  "comma-dangle": 0,
  "complexity": [2, 7],
  "max-depth": [2, 4],
  "max-statements": [2, 20],
  "no-console": 0,
  "no-extra-semi": 0
  }
}
