//
  - small-height: min-height: 300px
  - large-height: min-height: 500px
  - border-top: has border top
  - border-bottom: has border bottom
h3.sub-title-template 1. Background changer (Color &amp; small minimum height)
.myob-component-background-changer.myob-small-height.myob-bgd-pink
h3.sub-title-template 2. Background changer (Color, large minimum height &amp; border top and bottom)
.myob-component-background-changer.myob-large-height.myob-border-top.myob-border-bottom.myob-bgd-pink
h3.sub-title-template 3. Background changer (Image &amp; small minimum height)
.myob-component-background-changer.myob-large-height(data-interchange='[images/upload/bg-changer-mobile.jpg,images/upload/bg-changer.jpg]')
