h3.sub-title-template 1. Brand logos (with heading)
.myob-component-brand-logos
  p.myob-brand-logos-heading Trusted by businesses all over Australia and New Zealand
  ul.myob-brand-logos-list
    li: +img('Boost juice logo', 'images/upload/boost-juice-logo.jpg')
    li: +img('Boost juice logo', 'images/upload/choices-logo.jpg')
    li: +img('Boost juice logo', 'images/upload/princi-logo.jpg')
    li: +img('Boost juice logo', 'images/upload/choices-logo.jpg')
h3.sub-title-template 2. Brand logos (without heading)
.myob-component-brand-logos
  ul.myob-brand-logos-list
    li: +img('Boost juice logo', 'images/upload/boost-juice-logo.jpg')
    li: +img('Boost juice logo', 'images/upload/choices-logo.jpg')
    li: +img('Boost juice logo', 'images/upload/princi-logo.jpg')
    li: +img('Boost juice logo', 'images/upload/choices-logo.jpg')
