h3.sub-title-template 1. Default
.myob-component-button
  +link('Primary CTA').btn.btn-default

h3.sub-title-template 1.1. Medium
.myob-component-button
  +link('Primary CTA').btn.btn-sm.btn-default

h3.sub-title-template 1.2. Small
.myob-component-button
  +link('Primary CTA').btn.btn-xs.btn-default

h3.sub-title-template 2. Margin small and Align center
.myob-component-button.text-center.myob-margin-small
  +link('Primary CTA').btn.btn-default

h3.sub-title-template 2.1. Margin medium and Align right
.myob-component-button.text-right.myob-margin-medium
  +link('Primary CTA').btn.btn-default

h3.sub-title-template 2.2. Margin large and click open new window
.myob-component-button.myob-margin-large
  +link('Primary CTA')(target='_blank').btn.btn-default

h3.sub-title-template 3. Secondary
.myob-component-button.text-center
  +link('Secondary button').btn.myob-btn-secondary

h3.sub-title-template 4. Ghost-1
.myob-component-button.text-center
  +link('Ghost button').btn.myob-btn-ghost.myob-btn-purple

h3.sub-title-template 5. Ghost-2
.bg-temporary
  .myob-component-button.text-center
    +link('Ghost button').btn.myob-btn-ghost.myob-btn-white
