.column-group
  h3.sub-title-template 1. Default
  .row
    .col-md-8.col-md-offset-2 1 Column Small

  h3.sub-title-template 2. 2 Column 25/75
  .row
    .col-sm-4 4 Column
    .col-sm-8 8 Column

  h3.sub-title-template 3. 2 Column 50/50
  .row
    .col-sm-6 6 Column
    .col-sm-6 6 Column

  h3.sub-title-template 4. 2 Column 75/25
  .row
    .col-sm-8 8 Column
    .col-sm-4 4 Column

  h3.sub-title-template 5. 3 Column 33/33/33
  .row
    .col-sm-4 4 Column
    .col-sm-4 4 Column
    .col-sm-4 4 Column

  h3.sub-title-template 6. 4 Column 25/25/25/25
  .row
    .col-sm-3 3 Column
    .col-sm-3 3 Column
    .col-sm-3 3 Column
    .col-sm-3 3 Column
