h3.sub-title-template 1. Headline + 2 button
.myob-component-background-changer(style="background-color: #3c4246;")
  .myob-component-cta-strip.text-center
    p Not for you? Explore our other products
    .myob-component-button
      +link('MYOB Advanced').btn.myob-btn-ghost.myob-btn-white
      +link('MYOB EXO').btn.myob-btn-ghost.myob-btn-white
h3.sub-title-template 2. Headline + 1 button
.myob-component-background-changer(style="background-color: #3c4246;")
  .myob-component-cta-strip.text-center
    p Not for you? Explore our other products
    .myob-component-button
      +link('MYOB Advanced').btn.myob-btn-ghost.myob-btn-white
h3.sub-title-template 3. Single button
.myob-component-background-changer(style="background-color: #3c4246;")
  .myob-component-cta-strip.text-center
    .myob-component-button
      +link('Looking for more power?').btn.myob-btn-ghost.myob-btn-white
h3.sub-title-template 4. Headline + 2 button (Color of text: Dark Grey)
.myob-component-background-changer(style="background-color: #3c4246;")
  .myob-component-cta-strip.text-center
    p Not for you? Explore our other products
    .myob-component-button
      +link('MYOB Advanced').btn.myob-btn-ghost.myob-btn-white
      +link('MYOB EXO').btn.myob-btn-ghost.myob-btn-white
