h3.sub-title-template 1. Default
.myob-component-background-changer(style="background-color: #3C4246;")
  .myob-component-hero.myob-large-height
    .myob-inner
      h3.myob-component-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
      p.myob-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      ul.myob-component-button
        li: +link('Primary CTA').btn.btn-default
        li: +link('Secondary button').btn.myob-btn-secondary

h3.sub-title-template 2. Large Centered Aligned
.myob-component-background-changer(style="background-color: #3C4246;")
  .myob-component-hero.myob-large-height.center-block
    .myob-inner.text-center
      h3.myob-component-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
      p.myob-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      ul.myob-component-button
        li: +link('Primary CTA').btn.btn-default
        li: +link('Secondary button').btn.myob-btn-secondary

h3.sub-title-template 3. Small Left Aligned
.myob-component-background-changer(style="background-color: #3C4246;")
  .myob-component-hero.myob-small-height
    .myob-inner
      h3.myob-component-title Lorem ipsum dolor sit amet
      p.myob-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

h3.sub-title-template 4. Small Centered Aligned
.myob-component-background-changer(style="background-color: #3C4246;")
  .myob-component-hero.myob-small-height.center-block
    .myob-inner.text-center
      h3.myob-component-title Lorem ipsum dolor sit amet
      p.myob-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


h3.sub-title-template 5. Large Left Aligned - Background Image
.myob-component-background-changer(data-interchange='[images/upload/bg-changer-mobile.jpg,images/upload/bg-changer.jpg]')
  .myob-component-hero.myob-large-height
    .myob-inner
      h3.myob-component-title Lorem ipsum dolor sit amet, consectetur adipiscing elit
      p.myob-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      ul.myob-component-button
        li: +link('Primary CTA').btn.btn-default
        li: +link('Secondary button').btn.myob-btn-secondary
