h3.sub-title-template 1. Default
.myob-component-image
  +link('Image Component')
    +img(
      'Image Component'
    )(title='Image Component',data-interchange='[images/upload/img-comp-test.jpg,images/upload/img-comp1.jpg]')

h3.sub-title-template 2. Align center
.myob-component-image.text-center
  +link('Image Component')
    +img(
      'Image Component'
    )(title='Image Component',data-interchange='[images/upload/img-comp-test.jpg,images/upload/img-comp1.jpg]')

h3.sub-title-template 2.1. Align center with margin small.
.myob-component-image.myob-margin-small.text-center
  +link('Image Component')
    +img(
      'Image Component'
    )(title='Image Component',data-interchange='[images/upload/img-comp-test.jpg,images/upload/img-comp2.jpg]')

h3.sub-title-template 2.2. Align center with margin medium.
.myob-component-image.myob-margin-medium.text-center
  +link('Image Component')
    +img(
      'Image Component'
    )(title='Image Component',data-interchange='[images/upload/img-comp-test.jpg,images/upload/img-comp3.jpg]')

h3.sub-title-template 2.3. Align center with margin large.
.myob-component-image.myob-margin-large.text-center
  +link('Image Component')
    +img(
      'Image Component'
    )(title='Image Component',data-interchange='[images/upload/img-comp-test.jpg,images/upload/img-comp4.jpg]')

h3.sub-title-template 3. Align right, click open new window
.myob-component-image.text-right
  +link('Image Component')(target='_blank')
    +img(
      'Image Component'
    )(title='Image Component',data-interchange='[images/upload/img-comp-test.jpg,images/upload/img-comp5.jpg]')
