.myob-component-list
  +link('list item').myob-list-item
    .myob-list-icon
      +img('list item', 'images/upload/bg-changer-mobile.jpg').img-circle
    .myob-list-desc-container
      h4.myob-list-heading Working with Accountants Office
      p.myob-list-desc Self-paced learning
  +link('list item').myob-list-item
    .myob-list-icon
      +img('list item', 'images/upload/proof-3.jpg').img-circle
    .myob-list-desc-container
      h4.myob-list-heading Working with Accountants Office
      p.myob-list-desc Self-paced learning
  +link('list item').myob-list-item
    .myob-list-icon
      +img('list item', 'images/upload/proof-3.jpg').img-circle
    .myob-list-desc-container
      h4.myob-list-heading Working with Accountants Office
      p.myob-list-desc Self-paced learning

