.row
  .col-md-8.col-md-offset-2
    //Component START below!
    .myob-component-news-listing
      +nav([
        { title: "2016", class: "myob-link-active" },
        { title: "2015" },
        { title: "2014" },
        { title: "2013" }
      ]).myob-archives-year.text-center
      .myob-archives-list
        article.myob-news-item
          h3.myob-news-heading
            +link("SMEs investing in tech, equipment and knowledge to get ahead")
          p.myob-short-description.hidden-xs
            |Australian SMEs have caught the innovation bug and are serious investors in the space, according to MYOB Business Monitor research findings released today.
          p.myob-news-date
            i.myob-icon.myob-icon-calendar.hidden-xs
            |14 Jan 2016

        article.myob-news-item
          h3.myob-news-heading
            +link("5 ways a single business management solution can help you")
          p.myob-short-description.hidden-xs
            |“We are what we repeatedly do. Excellence, then, is not an act, but a habit.” Centuries ago, the Greek philosopher Aristotle reflected on the fact if we can do something consistently then the habit becomes ingrained into our behaviour.
          p.myob-news-date
            i.myob-icon.myob-icon-calendar.hidden-xs
            |12 Jan 2016
