.row
  .col-sm-4
    .myob-component-pricing-box
      .myob-pricing-box-heading
        h3.myob-component-title AccountRight Premier
        p.myob-price
          span.myob-currency $
          | 99
          span.myob-per-month /mo
        p.myob-product-desc For businesses that manage multiple company accounts
      .myob-pricing-box-body
        ul.myob-feature-list
          li Calculate & track GST
          li Manage bills, quotes, invoices & expenses
          li Create purchase & manage suppliers
          li Track jobs & manage inventory
          li Bill by time
          li Pay employees, pay super & track leave
          li Manage 2 company accounts
        .myob-button.text-center
          +link('Subscribe now').btn.btn-sm.btn-default
        p.myob-outro.text-center
          +link('Or try free for 30 days')
  .col-sm-4
    .myob-component-pricing-box.myob-recommended
      .myob-most-popular Most popular product
      .myob-pricing-box-heading
        h3.myob-component-title AccountRight Premier
        p.myob-price
          span.myob-currency $
          | 99
          span.myob-per-month /mo
        p.myob-product-desc For businesses that manage multiple company accounts
      .myob-pricing-box-body
        ul.myob-feature-list
          li Calculate & track GST
          li Manage bills, quotes, invoices & expenses
          li Create purchase & manage suppliers
          li Track jobs & manage inventory
          li Bill by time
          li Pay employees, pay super & track leave
          li Manage 2 company accounts
        .myob-button.text-center
          +link('Subscribe now').btn.btn-sm.btn-default
        p.myob-outro.text-center
          +link('Or try free for 30 days')
  .col-sm-4
    .myob-component-pricing-box
      .myob-pricing-box-heading
        h3.myob-component-title AccountRight Premier
        p.myob-price
          span.myob-currency $
          | 99
          span.myob-per-month /mo
        p.myob-product-desc For businesses that manage multiple company accounts
      .myob-pricing-box-body
        ul.myob-feature-list
          li Calculate & track GST
          li Manage bills, quotes, invoices & expenses
          li Create purchase & manage suppliers
          li Track jobs & manage inventory
          li Bill by time
          li Pay employees, pay super & track leave
          li Manage 2 company accounts
        .myob-button.text-center
          +link('Subscribe now').btn.btn-sm.btn-default
        p.myob-outro.text-center
          +link('Or try free for 30 days')
