// myob-component-proof-points-1,2,3,4 < display 1 col, 2 col, 3 col & 4 col
// myob-proof-point < myob-proof-horizontal: display horizontal > < default & on mobile: vertical >
// myob-proof-point < .myob-margin-small: margin 20px, .myob-margin-medium: margin 40px, myob-margin-large: margin 60px > < default: no-margin >
h3.sub-title-template 1. Proof point (no link)
.myob-component-proof-points
  .myob-component-proof-point
    +img('proof point', 'images/upload/proof-1.jpg')
    .myob-proof-content
      h3.myob-proof-title.myob-heading-3 Proof point heading
      //- h4.proof-title.heading-4 Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .myob-component-proof-point
    +img('proof point', 'images/upload/proof-2.jpg')
    .myob-proof-content
      h3.proof-title Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .myob-component-proof-point
    +img('proof point', 'images/upload/proof-3.jpg')
    .myob-proof-content
      h3.proof-title Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .myob-component-proof-point
    +img('proof point', 'images/upload/proof-3.jpg')
    .myob-proof-content
      h3.proof-title Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

h3.sub-title-template 2. Proof point (horizontal)
.myob-component-proof-points
  .myob-component-proof-point.myob-proof-horizontal.myob-margin-large
    +img('proof point', 'images/upload/proof-1.jpg')
    .myob-proof-content
      h3.myob-proof-title.myob-heading-3 Proof point heading
      //- h4.proof-title.heading-4 Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

h3.sub-title-template 3. Proof point (with link)
.myob-component-proof-points
  .myob-component-proof-point
    +link('proof point')
      +img('proof point', 'images/upload/proof-1.jpg')
      h3.myob-proof-title Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .myob-component-proof-point
    +link('proof point')
      +img('proof point', 'images/upload/proof-2.jpg')
      h3.myob-proof-title Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  .myob-component-proof-point
    +link('proof point')
      +img('proof point', 'images/upload/proof-3.jpg')
      h3.myob-proof-title Proof point heading
      .myob-proof-desc.myob-rich-editor
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
