.myob-component-table.table-responsive(data-rebuild-table='{"table-class": "table table-striped"}')
  table
    tbody
      tr
        th Table Heading
        th Table Heading
        th Table Heading
      tr
        td Table cell
        td Table cell
        td Table cell
      tr
        td Table cell
        td Table cell that goes over two lines will look like this
        td Table cell
      tr
        td Table cell
        td Table cell
        td Table cell
