.row
  .col-sm-4
    h3.sub-title-template 1. Default
    .myob-component-testimonial-slider.text-center
      .myob-testimonial-img(data-interchange='[images/upload/joseph-m.jpg,images/upload/joseph.jpg]')
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black

  .col-sm-4
    h3.sub-title-template 2. Background Orange
    .myob-component-testimonial-slider.myob-bgd-orange.text-center
      .myob-testimonial-img(data-interchange='[images/upload/joseph-m.jpg,images/upload/joseph.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost

  .col-sm-4
    h3.sub-title-template 3. Background Teal Dark
    .myob-component-testimonial-slider.myob-bgd-teal-dark.text-center
      .myob-testimonial-img(data-interchange='[images/upload/joseph-m.jpg,images/upload/joseph.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost

.row
  .col-sm-4
    h3.sub-title-template 4. Logo variation (Default)
    .myob-component-testimonial-slider.myob-testimonial-logo.text-center
      .myob-testimonial-img(data-interchange='[images/upload/eph-logo-m.jpg,images/upload/eph-logo.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost

  .col-sm-4
    h3.sub-title-template 5. Background Yellow
    .myob-component-testimonial-slider.myob-testimonial-logo.myob-bgd-yellow.text-center
      .myob-testimonial-img(data-interchange='[images/upload/eph-logo-m.jpg,images/upload/eph-logo.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost(target='_blank')

  .col-sm-4
    h3.sub-title-template 6. Background Purple Primary
    .myob-component-testimonial-slider.myob-testimonial-logo.myob-bgd-purple-primary.text-center
      .myob-testimonial-img(data-interchange='[images/upload/eph-logo-m.jpg,images/upload/eph-logo.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost(target='_blank')

.row
  .col-sm-4
    h3.sub-title-template 7. Background Green
    .myob-component-testimonial-slider.myob-testimonial-logo.myob-bgd-green.text-center
      .myob-testimonial-img(data-interchange='[images/upload/eph-logo-m.jpg,images/upload/eph-logo.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost

  .col-sm-4
    h3.sub-title-template 8. Background Teal
    .myob-component-testimonial-slider.myob-testimonial-logo.myob-bgd-teal.text-center
      .myob-testimonial-img(data-interchange='[images/upload/eph-logo-m.jpg,images/upload/eph-logo.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost(target='_blank')

  .col-sm-4
    h3.sub-title-template 9. Background Fluro
    .myob-component-testimonial-slider.myob-testimonial-logo.myob-bgd-fluro.text-center
      .myob-testimonial-img(data-interchange='[images/upload/eph-logo-m.jpg,images/upload/eph-logo.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost(target='_blank')

.row
  .col-sm-4
    h3.sub-title-template 10. Background Pink
    .myob-component-testimonial-slider.myob-testimonial-logo.myob-bgd-pink.text-center
      .myob-testimonial-img(data-interchange='[images/upload/eph-logo-m.jpg,images/upload/eph-logo.jpg]')
      blockquote.myob-blockquote-person
        p.myob-person
          span.myob-person-name Joseph Haddad
          | Owner at Code Black
      blockquote.myob-blockquote
        .myob-blockquote-group
          p.myob-quotetext "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam inventore modi eos repellat alias quisquam quos culpa ipsa."
          p.myob-person
            span.myob-person-name Joseph Haddad
            | Owner at Code Black
          .myob-component-button
            +link('Read my story').btn.btn-xs.myob-btn-ghost(target='_blank')
