h3.sub-title-template 1. Default - Large Testimonial
.blockquote-1
  .row
    .col-md-8.col-md-offset-2
      //Testimonial Component START below!
      blockquote.myob-component-testimonial.text-center
        .myob-testimonial-text
          p.myob-quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque saepe quo, voluptatum ducimus inventore, animi illum veniam pariatur possimus quaerat recusandae numquam tempore maiores sed mollitia delectus eos, enim."
        .myob-person-info
          .myob-person-image
            +img('John Doe', 'images/upload/john-doe.png').img-responsive.img-circle
          p.myob-profession Joe Blogs, My startup business
          +link('Find out more').myob-link

h3.sub-title-template 2. Small Testimonial
.blockquote-2
  .row
    .col-md-4.col-md-offset-4
      //Testimonial Component START below!
      blockquote.myob-component-testimonial.myob-testimonial-small.text-center
        .myob-testimonial-text
          p.myob-quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus officiis ullam quisquam quia qui porro animi."
        .myob-person-info
          .myob-person-image
            +img('John Doe', 'images/upload/john-doe.png').img-responsive.img-circle
          p.myob-profession Joe Blogs, My startup business
          +link('Find out more').myob-link

h3.sub-title-template 3. Click on link, open new window
.blockquote-1
  .row
    .col-md-8.col-md-offset-2
      //Testimonial Component START below!
      blockquote.myob-component-testimonial.text-center
        .myob-testimonial-text
          p.myob-quote "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque saepe quo, voluptatum ducimus inventore, animi illum veniam pariatur possimus quaerat recusandae numquam tempore maiores sed mollitia delectus eos, enim."
        .myob-person-info
          .myob-person-image
            +img('John Doe', 'images/upload/john-doe.png').img-responsive.img-circle
          p.myob-profession Joe Blogs, My startup business
          +link('Find out more')(target='_blank').myob-link
