h3.sub-title-template 1. Default
.myob-component-text-image
  .col-sm-6.myob-image-block
    +img('Meeting your needs')(data-interchange='[/images/upload/img-comp-test.jpg,images/upload/satellite.png]')
  .col-sm-6.myob-text-block.myob-rich-editor
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative

h3.sub-title-template 2. Image right
.myob-component-text-image.myob-margin-medium
  .col-sm-6.col-sm-push-6.myob-image-block
    +img('Meeting your needs', 'images/upload/satellite.png')
  .col-sm-6.col-sm-pull-6.myob-text-block.myob-rich-editor
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative

h3.sub-title-template 4. Layout 30% - 70%
.myob-component-text-image
  .col-sm-4.myob-image-block
    +img('Meeting your needs', 'images/upload/satellite.png')
  .col-sm-8.myob-text-block.myob-rich-editor
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative

h3.sub-title-template 4.1. Layout 60% - 40%
.myob-component-text-image
  .col-sm-7.myob-image-block
    +img('Meeting your needs', 'images/upload/satellite.png')
  .col-sm-5.myob-text-block.myob-rich-editor
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative

h3.sub-title-template 3. Margin small
.myob-component-text-image.myob-margin-small
  .col-sm-6.myob-image-block
    +img('Meeting your needs', 'images/upload/satellite.png')
  .col-sm-6.myob-text-block.myob-rich-editor
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative

h3.sub-title-template 3.1. Margin medium
.myob-component-text-image.myob-margin-medium
  .col-sm-6.myob-image-block
    +img('Meeting your needs', 'images/upload/satellite.png')
  .col-sm-6.myob-text-block.myob-rich-editor
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative

h3.sub-title-template 3.2. Margin large
.myob-component-text-image.myob-margin-large
  .col-sm-6.myob-image-block
    +img('Meeting your needs', 'images/upload/satellite.png')
  .col-sm-6.myob-text-block.myob-rich-editor
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative

h3.sub-title-template 3. Vertical align middle (Text)
.myob-component-text-image
  .col-sm-6.myob-image-block
    +img('Meeting your needs', 'images/upload/satellite.png')
  .col-sm-6.myob-text-block.myob-rich-editor.myob-vertical-center
    h3 Meeting your needs
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, saepe ab similique esse incidunt adipisci nulla mollitia doloribus a, maiores.
    +link('BRW Most Innovative') BRW Most Innovative
