h3.sub-title-template 1. Text Field with Label
.myob-component-text-field.form-group
  +form-group({
    lbFg: {
      id: 'text-1', textLabel: 'Email'
    },
    inputFg: {
      name: 'text-1',
      type: 'email',
      attr: {class: 'form-control'}
    }
    })
h3.sub-title-template 2. Text Field with Placholder and Hidden Label
.myob-component-text-field.form-group
  +form-group({
    lbFg: {
      id: 'text-2', textLabel: 'Name', classLabel: 'sr-only'
    },
    inputFg: {
      name: 'text-2',
      attr: {class: 'form-control', placeholder: 'Name'}
    }
    })
h3.sub-title-template 3. Text Field with error
.myob-component-text-field.form-group
  +form-group({
    lbFg: {
      id: 'text-3', textLabel: 'Email', classLabel: 'sr-only'
    },
    inputFg: {
      name: 'text-3',
      attr: {class: 'form-control has-error', placeholder: 'Email'}
    },
    error : 'Email is required'
    })
h3.sub-title-template 3. Text Field with multiline
.myob-component-text-field.form-group
  +form-group-textarea({
    lbFg: {
      id: 'text-4', textLabel: 'Message'
    },
    inputFg: {
      name: 'text-4',
      rows: '5',
      attr: {class: 'form-control'}
    },
    })

