.row
  .col-sm-3
    h3.sub-title-template  1. Default
    .myob-component-tile.panel.panel-default
      .panel-heading
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action

  .col-sm-3
    h3.sub-title-template  2. Align center with Link
    .myob-component-tile.panel.panel-default.text-center.panel-for-csstest(data-alternative-link='{"href":"data/test","target":"_self"}')
      .panel-heading.myob-bgd-purple
        h3.panel-title Tile Heading
      .panel-body
        +img('Solutions for your clients', 'images/upload/icon-heart.png')
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi.

  .col-sm-3
    h3.sub-title-template  3. Open new windown
    .myob-component-tile.panel.panel-default.text-center(data-alternative-link='{"href":"data/test","target":"_blank"}')
      .panel-heading.myob-bgd-pink
        h3.panel-title Tile Heading
      .panel-body
        +img('Solutions for your clients', 'images/upload/icon-heart.png')
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi.

  .col-sm-3
    h3.sub-title-template  4. Heading gray color
    .myob-component-tile.panel.panel-default
      .panel-heading.myob-bgd-yellow
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action

.row
  .col-sm-3
    h3.sub-title-template  5. Margin small
    .myob-component-tile.panel.panel-default.myob-margin-small
      .panel-heading.myob-bgd-orange-pay
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action

  .col-sm-3
    h3.sub-title-template  6. Margin medium
    .myob-component-tile.panel.panel-default.text-center.myob-margin-medium
      .panel-heading.myob-bgd-orange
        h3.panel-title Tile Heading
      .panel-body
        +img('Solutions for your clients', 'images/upload/icon-heart.png')
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi.

  .col-sm-3
    h3.sub-title-template  7. Margin large
    .myob-component-tile.panel.panel-default.text-center.myob-margin-large
      .panel-heading.myob-bgd-teal-dark
        h3.panel-title Tile Heading
      .panel-body
        +img('Solutions for your clients', 'images/upload/icon-heart.png')
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi.

  .col-sm-3
    h3.sub-title-template  8. Heading teal background
    .myob-component-tile.panel.panel-default
      .panel-heading.myob-bgd-teal
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action

.row
  .col-sm-3
    h3.sub-title-template  9. Fluro green background
    .myob-component-tile.panel.panel-default
      .panel-heading.myob-bgd-fluro
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action

  .col-sm-3
    h3.sub-title-template  10. Blue background
    .myob-component-tile.panel.panel-default
      .panel-heading.myob-bgd-blue-kounta
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action

  .col-sm-3
    h3.sub-title-template  11. Pale blue background
    .myob-component-tile.panel.panel-default
      .panel-heading.myob-bgd-blue-edge
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action

  .col-sm-3
    h3.sub-title-template  12. Green background
    .myob-component-tile.panel.panel-default
      .panel-heading.myob-bgd-green-pay
        h3.panel-title Tile Heading
      .panel-body
        .myob-rich-editor
          p Focus on your best work and increase the productivity of your accounting practice. Est, harum ab necessitatibus omnis nihil commodi praesentium, quae! Perspiciatis, optio maxime!
          +link('Call to action')
            strong Call to action
