.title-group
  h2.myob-component-title
    |This is default - Heading 2

  h3.myob-component-title.myob-no-margin-top.text-center
    |This is Heading 3 - Align center - No margin top

  h4.myob-component-title.text-right.myob-border-bottom
    |This is Heading 4 - Align right with border bottom
