extends layouts/template

block vars
  -title = 'Components'

block container
  style.
    .template {background: #fff;}
    .title-template {margin: 20px 0; border-bottom: 1px solid #ccc; padding-top: 56px;}
    .group-1 {overflow: hidden;}
    .template-header ul {padding-left: 0;}
    .template-header > ul > li ul {border-bottom: 1px solid #ccc}
    .template-header > ul > li li {margin: 0 10px;}
    .template-header > ul > li li + li {border-top: 1px solid #ccc}
    .template-header > ul > li ul {display: none;}
    .template-header a {display: inline-block; padding: 10px; height: 36px;}
    .template-header a:focus, .template-header a:visited {color: #666;}
    .bg-temporary{background: #535457;padding: 20px;}
    .template .container-fluid {padding-bottom: 30px;}
    @media only screen and (min-width : 992px) {
      .template-header {position: fixed; top: 0; left: 0; right: 0; z-index: 100; background-color: rgba(255,255,255,.9); font-size: 16px; height:36px; border-bottom: 1px solid #ccc;}
      .template-header > ul > li {float: left; position: relative;}
      .template-header > ul > li + li {border-left: 1px solid #ccc;}
      .template-header > ul > li ul {position: absolute; top: 36px; left: 0; background-color: rgba(255,255,255,.9); width: 320px;}
      .template-header > ul > li:hover ul {display: block;}
      .no-touch .template-header a:hover {color: #0d79a0;}
    }
    @media only screen and (max-width : 991px) {
      .template-header > ul > li {border-bottom: 1px solid #ccc;}
      .template-header > ul > li > a {display: block; position: relative;}
      .template-header > ul > li > a:before, .template-header > ul > li > a:after {content: ""; position: absolute; top: 50%; background-color: #666;}
      .template-header > ul > li > a:before {width: 16px; height: 2px; margin-top: -1px; right: 10px;}
      .template-header > ul > li > a:after {width: 2px; height: 16px; margin-top: -8px; right: 17px;}
      .template-header > ul > li.active {border-bottom: 0;}
      .template-header > ul > li.active a:after {display: none;}
      .template-header > ul > li.active ul {display: block;}
    }
    .column-group .row{background: #E0FFFF;}
    .column-group .col-md-8,
    .column-group .col-sm-4,
    .column-group .col-sm-8,
    .column-group .col-sm-6,
    .column-group .col-sm-3{background: #E6E6FA;}
    .column-group .col-sm-4:nth-child(odd),
    .column-group .col-sm-3:nth-child(odd),
    .column-group .col-sm-6:nth-child(odd),
    .column-group .col-sm-8:nth-child(odd){background: #E0FFFF;}
    .blockquote-1{background: #3c4246;}
    .blockquote-2{background: transparent;}
  header.template-header
    +nav-ul([
      {
        title: 'Phase 1', href: 'javascript:;', class: 'toggle-btn',
        itemsMenu: [{
            title: 'Alert',
            href: '#alert'
          },
          {
            title: 'Text Image',
            href: '#text-image'
          },
          {
            title: 'Title',
            href: '#title'
          },
          {
            title: 'Image',
            href: '#image'
          },
          {
            title: 'Text',
            href: '#text'
          },
          {
            title: 'Button',
            href: '#button'
          },
          {
            title: 'Brand Llogos',
            href: '#brand-logos'
          },
          {
            title: 'Tile',
            href: '#tile'
          },
          {
            title: 'Tabs',
            href: '#tabs'
          },
          {
            title: 'Column Control',
            href: '#column-control'
          },
          {
            title: 'Testimonial',
            href: '#testimonial'
          }
        ]
      },
      {
        title: 'Phase 2', href: 'javascript:;', class: 'toggle-btn',
        itemsMenu: [
          {
            title: 'Column Control',
            href: '#column-control'
          },
          {
            title: 'Tabs',
            href: '#tabs'
          },
          {
            title: 'Testimonial',
            href: '#testimonial'
          },
          {
            title: 'Background Changer',
            href: '#background'
          },
          {
            title: 'Lightbox',
            href: '#lightbox'
          },
          {
            title: 'Pricing Box',
            href: '#pricing-box'
          },
          {
            title: 'Table',
            href: '#table'
          },
          {
            title: 'Video',
            href: '#video'
          },
          {
            title: 'List',
            href: '#list'
          },
          {
            title: 'Testimonial Slider',
            href: '#testimonial-slider'
          },
          {
            title: 'Accordion',
            href: '#accordion'
          }
          ,
          {
            title: 'Hero',
            href: '#hero'
          }
        ]
      },
      {
        title: 'Phase 3', href: 'javascript:;', class: 'toggle-btn',
        itemsMenu: [
          {
            title: 'Hidden Field',
            href: '#hidden-field'
          },
          {
            title: 'Text Field',
            href: '#text-field'
          },
          {
            title: 'Form',
            href: '#form'
          },
          {
            title: 'Checkbox Group',
            href: '#checkbox-group'
          },
          {
            title: 'Radio Group',
            href: '#radio-group'
          },
          {
            title: 'Dropdown List',
            href: '#dropdown-list'
          },
          {
            title: 'News Listing',
            href: '#news-listing'
          }
        ]
      }
    ])
  .container-fluid
    .row
      .container
        h2.title-template#alert Alert Component
        include blocks/alert

        h2.title-template#text-image Text Image Component
        include blocks/text-image

        h2.title-template#proof-point Proof Point Component
        include blocks/proof-point

        h2.title-template#title Title Component
        include blocks/title

        h2.title-template#image Image Component
        include blocks/image

        h2.title-template#text Text Component
        include blocks/text

        h2.title-template#button Button Component
        include blocks/button

        h2.title-template#brand-logos Brand Logos Component
        include blocks/brand-logos

        h2.title-template#tile Tiles Component
        include blocks/tile

        h2.title-template#cta-strip CTA Strip Component
        include blocks/cta-strip

        h2.title-template#tabs Tabs Component
        include blocks/tabs

        h2.title-template#column-control Column Control
        include blocks/column-control

        h2.title-template#testimonial Testimonial
        include blocks/testimonial

        h2.title-template#background Background Changer Component
        include blocks/background-changer

        h2.title-template#lightbox Lightbox
        include blocks/lightbox

        h2.title-template#pricing-box Pricing Box Component
        include blocks/pricing-box

        h2.title-template#table Table
        include blocks/table

        h2.title-template#video Video
        include blocks/video

        h2.title-template#list List Component
        include blocks/list

        h2.title-template#testimonial-slider Testimonial Slider
        include blocks/testimonial-slider

        h2.title-template#accordion Accordion Component
        include blocks/accordion

        h2.title-template#hero Hero Component
        include blocks/hero

        h2.title-template#hidden-field Hidden Field Component
        include blocks/hidden-field

        h2.title-template#text-field Text Field Component
        include blocks/text-field

        h2.title-template#form Form Component
        include blocks/form

        h2.title-template#checkbox-group Checkbox Group Component
        include blocks/checkbox-group

        h2.title-template#radio-group Radio Group Component
        include blocks/radio-group

        h2.title-template#dropdown-list Dropdown List Component
        include blocks/dropdown-list

        h2.title-template#news-listing News Listing Component
        include blocks/news-listing

        h2.title-template Example angularJS
        form(name="myForm", novalidate)
          text-field(data-info='{"id":"id1","elementName":"email","elementLabel":"elementLabel1","hideLabel":false,"placeHolder":"Placeholder","type":"email","errorMessage":"Error Message","numberOfRows":"1","required":true}')


  //- Modal
  include modal
