//- .myob-component-dropdown-list.form-group
.form-group
  label(for="{{info.id}}", ng-hide="info.hideLabel") {{info.elementLabel}}
  select.form-control(name="info.elementName", ng-required="info.required", ng-options="item.name for item in info.items track by item.id")

  div(ng-messages="myForm.email.$error",class="help-block", role="alert")
     p(ng-message="email") {{info.errorMessage}} email
     p(ng-message="required") {{info.errorMessage}} requered


