extends layouts/news-detail

block vars
  -title = 'News Detail Template'

block container
  main.container-fluid
    .row
      .container
        article.myob-news-detail
          header
            h2.myob-component-title
              |SMEs investing in tech, equipment and knowledge to get ahead
            p.myob-news-date
              i.myob-icon.myob-icon-calendar
              |14 Jan 2016
          .myob-news-content
            p Australian SMEs have caught the innovation bug and are serious investors in the space, according to MYOB Business Monitor research findings released today.
            p The MYOB Business Monitor, now in its sixth year, is a bi-annual national survey of over 1,000 SME business owners.
            p “And at a time when knowledge is recognised as the key to Australia’s future prosperity, it’s great to see SMEs investing in acquiring knowledge (22 per cent) and employee training (17 per cent). We need to keep adding to our collective skills base to remain relevant and competitive, especially when the Business Monitor showed SME confidence in the economy is uncertain for the next 12 months,” said Mr Raik-Allen.
            p “SMEs see that technology can help them do business more efficiently and service their customers better. In the 31 per cent had acquired new computer hardware or software and 26 per cent had acquired new machinery and equipment.




