extends layouts/layout

block vars
  -title = 'Detail Documents'
  -bodyClass = 'detail-documents overflow-x'
  -isDocuments = true
  -isToolButton = true
block container
  +detail-block()
    .tab-content
      include blocks/pdf-viewer-1
