extends layouts/layout

block vars
  -title = 'IG Approved'
  -bodyClass = ''
  -menuIndex = 2
  -isNoResult = true
block container
  include blocks/guide
  include blocks/list-button
  include blocks/table-5-cols
