.container{
	width:960px;
	margin: 0 auto;
}
.header,.content,.footer{
	border:1px solid;
}
.footer{
	text-align:center;
}
.menu{
	list-style:none;
}
.content-left{
	float:left;
	width:240px;
	padding:10px;
}
.content{
	display:inline-block;
}
.content-right{
	float:left;
	width:675px;
	padding:10px;
}
.wrap-conten{
	text-align:center;
	border:1px solid;
}
.message{
	color:red;
}