.mess-notice.full-background(data-close-message)
  +link({title: 'close', href: 'javascript:void(0)'}).btn.btn-icon.btn-close
    span.icon.icon-cross
  p Votre observation a bien été prise en compte.
